

profiles {
    local {
        process.executor = "local"
        docker.enabled = true
        singularity.enabled   = false
        singularity.autoMounts = false
        process.container = 'yuqing987/cuttag-amd64:latest'
        docker.runOptions = '--platform=linux/amd64'

        params {
            samplesheet            = "${projectDir}/data/input_example.csv"
            antibody_sheet         = "${projectDir}/data/input_antibody_barcode.csv"
            extract_script         = "${projectDir}/data/extractValidReads_multiCUTTag_nobccorrect_nextflow.py"
            cell_barcode_reference = "${projectDir}/data/737K-cratac-v1.txt"
            bowtie2_index          = "${projectDir}/data/Bowtie2Index/mm10/mm10"
            dedup_script           = "${projectDir}/data/cuttag_dedup_multiAb.py"
            chrom_size             = "${projectDir}/data/mm10.chrom.sizes"
            control_bam            = "${projectDir}/data/WCE_100k.bam"
            blacklist_bed          = "${projectDir}/data/mm10_blacklist.bed"
        }
    }
    lsf {
        process.executor = "lsf"
        docker.enabled = false
        singularity.enabled   = true
        singularity.autoMounts = true
  
        process.resourceLimits = [
            memory: 350.GB,
            cpus: 200,
            time: 30.d
        ]

        withLabel: 'fastqc'   { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'bowtie2'  { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'cutadapt' { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'macs2'    { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'samtools' { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'bedtools' { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'biopy27'  { container = 'docker://yuqing987/cuttag-amd64:latest' }
        withLabel: 'dedup'    { container = 'docker://yuqing987/cuttag-amd64:latest' }

        params {
            extract_script         = '/home/yuqing.wang-umw/cuttag/nextflow_test/extractValidReads_multiCUTTag_nobccorrect_nextflow.py'
            cell_barcode_reference = '/home/yuqing.wang-umw/cuttag/nextflow_test/737K-cratac-v1.txt'
            bowtie2_index          = '/home/yuqing.wang-umw/resources/genome/Bowtie2Index/mm10'
            dedup_script           = '/home/yuqing.wang-umw/cuttag/nextflow_test/cuttag_dedup_multiAb.py'
            chrom_size             = '/home/yuqing.wang-umw/resources/genome/mm10.chrom.sizes'
            control_bam            = '/pi/manuel.garber-umw/mouse/DC/chipSeq/chipSeq/timecourses_mm10/bams_SE/WCE_mereged.bam'
            blacklist_bed          = '/home/yuqing.wang-umw/resources/genome/mm10_blacklist.bed'
        }
        
    }
}

params {
    samplesheet = 'input_example.csv'
    reads_per_chunk = 1000000
    adapter_r1 = 'CTGTCTCTTATACACATCTG'
    adapter_r2 = 'CTGTCTCTTATACACATCTG'
    adapter_min_length = 20
    fragment_min_mapq = 30
    splitFastq_cpus = null
    splitFastq_memory = null
    splitFastq_time = null
    splitFastq_queue = null
    extractValidReads_cpus = null
    extractValidReads_memory = null
    extractValidReads_time = null
    extractValidReads_queue = null
    trimAdapters_cpus = null
    trimAdapters_memory = null
    trimAdapters_time = null
    trimAdapters_queue = null
    align_cpus = null
    align_memory = null
    align_time = null
    align_queue = null
    merge_cpus = null
    merge_memory = null
    merge_time = null
    merge_queue = null
    dedup_cpus = null
    dedup_memory = null
    dedup_time = null
    dedup_queue = null
    extract_script = null
    cell_barcode_reference = null
    antibody_sheet = 'input_antibody_barcode.csv'
    bowtie2_index = null
    dedup_script = null
    chrom_size = null
    control_bam = null
    blacklist_bed = null
    extract_extra_args = ''
    bowtie2_extra_args = ''
    dedup_endbp = 3
    dedup_perc_cutoff = 0.7
    dedup_extra_args = ''
    call_peaks_cpus = null
    call_peaks_memory = null
    call_peaks_time = null
    call_peaks_queue = null
    call_peaks_slop_bp = 100
    call_peaks_qvalue = 0.0001
    call_peaks_bandwidth = 200
    filter_peaks_cpus = null
    filter_peaks_memory = null
    filter_peaks_time = null
    filter_peaks_queue = null
    blacklist_peaks_cpus = null
    blacklist_peaks_memory = null
    blacklist_peaks_time = null
    blacklist_peaks_queue = null
    peak_merge_distance = 3000
    peak_cpbpmc = 2
    peak_cutnum = 2
}

process {
    withName: fastqc {
        queue = 'short'
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
    withName: splitFastq {
        queue = 'short'
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    withName: extractValidReads {
        queue = 'short'
        cpus = 1
        memory = '8 GB'
        time = '4h'
    }
    withName: trimAdapters {
        queue = 'short'
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
    withName: alignBowtie2 {
        queue = 'short'
        cpus = 8
        memory = '32 GB'
        time = '6h'
    }
    withName: mergeBam {
        queue = 'short'
        cpus = 4
        memory = '32 GB'
        time = '4h'
    }
    withName: deduplicateFragments {
        queue = 'short'
        cpus = 2
        memory = '16 GB'
        time = '6h'
    }
    withName: callAntibodyPeaks {
        queue = 'short'
        cpus = 4
        memory = '32 GB'
        time = '8h'
    }
    withName: filterAntibodyPeaks {
        queue = 'short'
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }
    withName: filterBlacklistPeaks {
        queue = 'short'
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }
}
