

profiles {
    local {
        process.executor = "local"
        docker.enabled = true
        singularity.enabled   = true
        singularity.autoMounts = true

        withLabel: 'bowtie2'  { container = 'quay.io/biocontainers/bowtie2:2.4.1--py38h1bd3502_3' }
        withLabel: 'cutadapt' { container = 'quay.io/biocontainers/cutadapt:1.9.1--py27_0' }
        withLabel: 'macs2'    { container = 'quay.io/biocontainers/macs2:2.1.0.20151222--py27_1' }
        withLabel: 'samtools' { container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8' }
        withLabel: 'bedtools' { container = 'quay.io/biocontainers/bedtools:2.28.0--hf5b7dc0_1' }
        withLabel: 'biopy27'  { container = 'quay.io/biocontainers/biopython:1.68--py27_0' }
        withLabel: 'dedup'  { container = 'community.wave.seqera.io/library/samtools_python:f7887e2de51cc7b7' }

        params {
            extract_script         = '/Users/yuqing/projects/pipelines/scCUTTag/extractValidReads_multiCUTTag_nobccorrect_nextflow.py'
            cell_barcode_reference = '/Users/yuqing/projects/pipelines/scCUTTag/data/737K-cratac-v1.txt'
            bowtie2_index          = '/Users/yuqing/projects/pipelines/scCUTTag/data/Bowtie2Index/mm10/mm10'
            dedup_script           = '/Users/yuqing/projects/pipelines/scCUTTag/dedup_bc.py'
            chrom_size             = '/Users/yuqing/projects/pipelines/scCUTTag/data/mm10.chrom.sizes'
        }
    }
    lsf {
        process.executor = "lsf"
        docker.enabled = false
        singularity.enabled   = true
        singularity.autoMounts = true
  
        process.resourceLimits = [
            memory: 350.GB,
            cpus: 200,
            time: 30.d
        ]

        withLabel: 'bowtie2'  { container = 'quay.io/biocontainers/bowtie2:2.4.1--py38h1bd3502_3' }
        withLabel: 'cutadapt' { container = 'quay.io/biocontainers/cutadapt:1.9.1--py27_0' }
        withLabel: 'macs2'    { container = 'quay.io/biocontainers/macs2:2.1.0.20151222--py27_1' }
        withLabel: 'samtools' { container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8' }
        withLabel: 'bedtools' { container = 'quay.io/biocontainers/bedtools:2.28.0--hf5b7dc0_1' }
        withLabel: 'biopy27'  { container = 'quay.io/biocontainers/biopython:1.68--py27_0' }
        withLabel: 'dedup'  { container = 'community.wave.seqera.io/library/samtools_python:f7887e2de51cc7b7' }

        params {
            extract_script         = '/home/yuqing.wang-umw/cuttag/nextflow_test/extractValidReads_multiCUTTag_nobccorrect_nextflow.py'
            cell_barcode_reference = '/home/yuqing.wang-umw/cuttag/nextflow_test/737K-cratac-v1.txt'
            bowtie2_index          = '/home/yuqing.wang-umw/resources/genome/Bowtie2Index/mm10'
            dedup_script           = '/home/yuqing.wang-umw/cuttag/nextflow_test/dedup_bc.py'
            chrom_size             = '/home/yuqing.wang-umw/resources/genome/mm10.chrom.sizes'
        }
        
    }
}

params {
    samplesheet = 'input_example.csv'
    reads_per_chunk = 1000000
    adapter_r1 = 'CTGTCTCTTATACACATCTG'
    adapter_r2 = 'CTGTCTCTTATACACATCTG'
    adapter_min_length = 20
    fragment_min_mapq = 30
    extract_script = null
    cell_barcode_reference = null
    antibody_sheet = 'input_antibody_barcode.csv'
    bowtie2_index = null
    dedup_script = null
    chrom_size = null
}

process {
    withName: fastqc {
        queue = 'short'
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
    withName: splitFastq {
        queue = 'short'
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    withName: extractValidReads {
        queue = 'short'
        cpus = 1
        memory = '8 GB'
        time = '4h'
    }
    withName: trimAdapters {
        queue = 'short'
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
    withName: alignBowtie2 {
        queue = 'short'
        cpus = 8
        memory = '32 GB'
        time = '6h'
    }
    withName: mergeBam {
        queue = 'short'
        cpus = 4
        memory = '32 GB'
        time = '4h'
    }
    withName: deduplicateFragments {
        queue = 'short'
        cpus = 2
        memory = '16 GB'
        time = '6h'
    }
}
